.body-color .skeleton {
  background-color: var(--section-color);
}
.body-color .skeleton span {
  background-color: var(--border-color);
}

.skeleton {
  background-color: var(--body-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  animation: 1.2s ease-in-out infinite skeleton-opacity;
}

.skeleton span {
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: var(--aside-color);
  transform: skewX(-20deg);
  animation: 1.2s infinite linear skeleton-move;
}

@keyframes skeleton-move {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

@keyframes skeleton-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}
