.subjects {
  gap: 30px;
}
.subjects .tabel-container {
  flex: calc(100% - 360px);
}
.subjects form {
  flex: 240px;
}
.subjects form .inp {
  width: 100%;
  margin: 15px 0;
  border: none;
  padding: 12px 10px;
  background-color: var(--section-color);
  border-radius: 4px;
  color: var(--font-color);
  font-size: 16px;
}
.subjects form .btn {
  font-size: 18px;
  width: 100%;
  margin: 0;
}

@media (max-width: 900px) {
  .subjects form.dashboard-form label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .subjects form.dashboard-form .inp {
    padding: 8px;
    font-size: 17px;
    margin: 10px 0;
  }
  .subjects .selecte > article h2 {
    font-size: 15px;
  }
  .subjects form.dashboard-form button {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .subjects form.dashboard-form label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .subjects form.dashboard-form .flex-direction .inp {
    font-size: 15px;
  }
  .subjects .selecte > article h2 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .subjects .selecte > article {
    padding: 8px 15px;
  }
  .subjects form.dashboard-form .inp {
    font-size: 15px;
  }
}
